<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.archforce.arc.facility.mapper.avm.CompanyComponentMapper">
  <resultMap id="BaseResultMap" type="com.archforce.arc.facility.entity.avm.company.CompanyComponent">
    <!--@mbg.generated-->
    <!--@Table t_company_component-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="component_id" jdbcType="INTEGER" property="componentId" />
  </resultMap>
    <resultMap id="BaseResultMap2" type="com.archforce.arc.facility.entity.avm.company.CompanyComponentInfo">
    <!--@mbg.generated-->
    <!--@Table t_component-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="component_english_name" jdbcType="VARCHAR" property="componentEnglishName" />
    <result column="component_name" jdbcType="VARCHAR" property="componentName" />
    <result column="component_code" jdbcType="VARCHAR" property="componentCode" />
    <result column="component_type" jdbcType="INTEGER" property="componentType" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="language_type" jdbcType="VARCHAR" property="languageType" />
    <result column="chargeman" jdbcType="VARCHAR" property="chargeman" />
    <result column="del_status" jdbcType="INTEGER" property="delStatus" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="add_user" jdbcType="VARCHAR" property="addUser" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="design_svn_address" jdbcType="VARCHAR" property="designSvnAddress" />
    <result column="require_svn_address" jdbcType="VARCHAR" property="requireSvnAddress" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="companyComponentId" jdbcType="INTEGER" property="companyComponentId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, company_id, product_id, component_id
  </sql>
    <sql id="Base_Column_List2">
    <!--@mbg.generated-->
    tc.id, component_english_name, component_name, component_code, component_type, description,
    language_type, chargeman, del_status, update_user, update_time, add_user, add_time,
    design_svn_address, require_svn_address
  </sql>
    <sql id="Base_Column_List3">
    <!--@mbg.generated-->
    component_english_name, component_name, component_code, component_type, description,
    language_type, chargeman, del_status, update_user, update_time, add_user, add_time,
    design_svn_address, require_svn_address
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_company_component
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from t_company_component
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_company_component
    (company_id, product_id, component_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.companyId,jdbcType=INTEGER}, #{item.productId,jdbcType=INTEGER}, #{item.componentId,jdbcType=INTEGER}
        )
    </foreach>
  </insert>
    <select id="getCompanyCom" parameterType="com.archforce.arc.facility.entity.avm.company.CompanyComponentInfo" resultMap="BaseResultMap2">
    select
    <include refid="Base_Column_List2" />, product_id, company_id, tcc.id as companyComponentId
    from t_component tc
    left join t_company_component tcc on tc.id = tcc.component_id
    where tcc.product_id = #{productId,jdbcType=INTEGER}
    and tcc.company_id = #{companyId,jdbcType=INTEGER}
  </select>
<!--  获取产品管理下该产品所有组件加上该客户的所有客制组件作为全量，减去t_company_component得到差量-->
    <select id="getDisCompanyCom" parameterType="com.archforce.arc.facility.entity.avm.company.CompanyComponentInfo" resultMap="BaseResultMap2">
        select
        t1.id, <include refid="Base_Column_List3" />
        FROM
        (select
        <include refid="Base_Column_List2" />
        from t_component tc
        left join t_product_component tpc on tc.id = tpc.component_id
        where tpc.product_id = #{productId,jdbcType=INTEGER}
        UNION
        (select
        <include refid="Base_Column_List2" />
        from t_component tc
        left join t_component_company tcc on tc.id = tcc.component_id
        where tcc.company_id = #{companyId,jdbcType=INTEGER})) t1
        LEFT JOIN (SELECT * FROM t_company_component cc WHERE cc.product_id = #{productId,jdbcType=INTEGER} AND cc.company_id = #{companyId,jdbcType=INTEGER}) scc
        ON t1.id = scc.component_id
        WHERE scc.component_id is NULL
  </select>
</mapper>