<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.archforce.arc.facility.mapper.avm.FunctionGroupMapper">
  <resultMap id="BaseResultMap" type="com.archforce.arc.facility.entity.avm.function.FunctionGroup">
    <!--@mbg.generated-->
    <!--@Table t_function_group-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="group_code" jdbcType="VARCHAR" property="groupCode" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="group_desc" jdbcType="LONGVARCHAR" property="groupDesc" />
    <result column="group_type" jdbcType="INTEGER" property="groupType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, group_name, group_code, parent_code, group_desc, group_type
  </sql>
  <select id="selectAllFunctionGroup" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_function_group
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_function_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByParentCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from t_function_group
    where parent_code = #{code,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from t_function_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByParentCode" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from t_function_group
    where parent_code = #{code,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.archforce.arc.facility.entity.avm.function.FunctionGroup" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_function_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="groupName != null">
        group_name,
      </if>
      <if test="groupCode != null">
        group_code,
      </if>
      <if test="parentCode != null">
        parent_code,
      </if>
      <if test="groupDesc != null">
        group_desc,
      </if>
      <if test="groupType != null">
        group_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="groupCode != null">
        #{groupCode,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null">
        #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="groupDesc != null">
        #{groupDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="groupType != null">
        #{groupType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.archforce.arc.facility.entity.avm.function.FunctionGroup">
    <!--@mbg.generated-->
    update t_function_group
    <set>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="groupCode != null">
        group_code = #{groupCode,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null">
        parent_code = #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="groupDesc != null">
        group_desc = #{groupDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="groupType != null">
        group_type = #{groupType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>