<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.archforce.arc.facility.mapper.avm.FunctionComponentMapper">
  <resultMap id="BaseResultMap" type="com.archforce.arc.facility.entity.avm.function.FunctionComponent">
    <!--@mbg.generated-->
    <!--@Table t_function_component-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="function_id" jdbcType="INTEGER" property="functionId" />
    <result column="component_id" jdbcType="INTEGER" property="componentId" />
    <result column="component_name" jdbcType="INTEGER" property="componentName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, function_id, component_id
  </sql>
  <sql id="Base_Column_List2">
    <!--@mbg.generated-->
    tfc.id, function_id, component_id
  </sql>
  <select id="selectByFunctionId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List2" />, tc.component_name
    from t_function_component tfc
    left join t_component tc on component_id = tc.id
    where function_id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectFunctionNamesByComponentId" resultType="java.lang.String">
    SELECT GROUP_CONCAT(ccc.function_name)
    FROM
    (SELECT tfc.component_id, tf.function_name FROM `t_function_component` tfc
    LEFT JOIN t_function tf ON tfc.function_id = tf.id) ccc
    WHERE ccc.component_id = #{componentId,jdbcType=INTEGER}
    GROUP BY ccc.component_id
</select>
  <delete id="deleteByFunctionId" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from t_function_component
    where function_id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteBatchByComponentId">
    <!--@mbg.generated-->
    delete from t_function_component
        where component_id in
    <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
        #{item}
    </foreach>
  </delete>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_function_component
    (function_id, component_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.functionId,jdbcType=INTEGER}, #{item.componentId,jdbcType=INTEGER})
    </foreach>
  </insert>
</mapper>